<div class="container">
  <% if user_signed_in? %>
    <%= render 'users/show_all_books'%>
  <% else %>
    <div class="container">
      <h1>Welcome to the BookMyBook</h1>
      <h2><br>
        This is the home page for the BookMyBook application. <br>
      </h2>
      <br><br><br>
      <h4>
      <button id="signupbutton"><%= link_to "Sign up now", new_user_registration_path %></button>
      </h4>
    </div>
  <% end %>
</div>