<div class="container">
  <ul>
    <% @book_issue_requests.each do |request| %>
      <li>
        
        Book  <%=link_to request.book.title, book_path(request.book.id) %> requested by User <%= request.user.name %> 
      </li>
    <%end%>
  </ul>
</div>


