<div class="container">
  <ul>
    <% @book_issue_requests.each do |request| %>
      <li>
        
        Book  <%= request.book_id %> requested by User <%= request.user_id %> 
      </li>
    <%end%>
  </ul>
</div>


