<div class="container"> 
  <div class="row">
    <div class="col-sm">
      <strong>Requested & Approved Books: </strong>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Book ID</th>
            <th scope="col">Book Title</th>
            <th scope="col">Requested Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.book_requests.each do |book| %>
            <% if !book.not_issued? %>
              <tr>
                <td><%= book.id %></td>
                <td><%= link_to book.title, book_path(book) %></td>
                <td><%= book.updated_at %></td>
                <td><%= book.status %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div><br>
  </div>
</div>