<h3>Books List</h3>
<br>
<% if @books.any? %>
  <%= will_paginate %>
  <ul> 
    <% @books.each do |book| %>
      <li>
        <%= link_to book.title, book_url(book) %>
        <% if admin? %> | 
          <%= link_to "Delete book", book_path(book), method: :delete %>
        <% end %>
      </li>
      <br>
    <% end %>
  </ul>
  <%= will_paginate %>
<% else %>
  Books not available
<% end %>