<div class="container">
  <h3 id="booklist"><strong>Book Lists </strong></h3><br>
  <% if @books.any? %>
    <%= will_paginate %>
    <ul class="list-group-flush col-md-4"> 
      <% @books.each do |book| %>
        <% if admin? %>
          <li class="list-group-item"><%= link_to book.title, book_url(book) %></li><br>
        <% elsif book.not_issued? %>
          <li class="list-group-item"><%= link_to book.title, book_url(book) %></li><br>
        <% end %>
      <% end %>
    </ul>
    <%= will_paginate %>
  <% elsif admin? %>
    Books not available. Please add some books!
  <% else %>
    Books out of stock, Please come later!
  <% end %>
</div>