<% if @books.any? %>
  <% @books.each do |book| %>
  <ul>
    <li>
      <%= link_to book.title, book_url(book) %> | 
      <%= link_to "Delete book", book_path(book), method: :delete %>
    </li>
  </ul>
  <% end %>
<% else %>
  Books not available
<% end %>