<div class="container">
  <h2><strong>Book Lists</strong></h2><br>
  <% if @books.any? %>
    <%= will_paginate %>
    <ul> 
      <% @books.each do |book| %>
        <li>
          <%= link_to book.title, book_url(book) %>
        </li>
        <br>
      <% end %>
    </ul>
    <%= will_paginate %>
  <% else %>
    Books not available. Please add some books.
  <% end %>
</div>