<div class="container">
  <h2><strong>Book Lists</strong></h2><br>
  <% if @books.any? %>
    <%= will_paginate %>
    <ul> 
      <% @books.each do |book| %>
        <% if admin? %>
          <li><%= link_to book.title, book_url(book) %></li><br>
        <% elsif book.not_issued? %>
          <li><%= link_to book.title, book_url(book) %></li><br>
        <% end %>
      <% end %>
    </ul>
    <%= will_paginate %>
  <% elsif admin? %>
    Books not available. Please add some books!
  <% else %>
    Books out of stock, Please come later!
  <% end %>
</div>