<div class="container">
  <% if can? :read, BookCollection %>
    <h2><strong>Book Approval Requests</strong></h2><br>
    <%= render 'book_collections/form_date_search' %>
    <%= render 'book_collections/form_status' %>
    <%= render 'book_collections/request_table' %>
  <% end %>
</div>