@import "bootstrap-sprockets";
@import "bootstrap";

$grey_light: #777;

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

#log {
  text-align: left;
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  margin-left: 7%;
}

.login .signup .fp {
  text-align: center;
  margin-left: 16%;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grey_light;
}

h5 {
  width: 30%;
  margin-left: 260px;
  text-align: center;
}

#newuser{
  margin-top: 20px;
  margin-left: 120px;
}

p{
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grey_light;
  position: fixed;
  height: 20;
  bottom: 0;
  width: 100%;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
  ul {
    float: none;
    padding: 0;
    li {
      float: none;
      margin-left: 0;
    }
  } 
}

.logg {
  margin-left: 0%;
}

 textarea {
  border: 1px solid #bbb;
  width: 20%;
  margin-bottom: 15px;
  margin-left: 220px;
}

.rem{
  margin-left: 0%;
}

label {
  margin-left: 220px
}

h4{
  margin-left: 28%;
}
.btn{
  width: 13%;
  margin-top: 10px;
  margin-left: 270px;
}

.btn-su{
  width: 13%;
  margin-top: 10px;
  margin-left: 200px;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#booklist {
  margin-left: 80px;
}

#signupbutton{
  margin-left: 20%;
  background-color: #87CEFA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}